/* ============== [ RESPONSIVENESS ]============ */

@media (max-width:1275px) {
    .grid-right-container-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1024px) {
    .center {
        margin-left: 90px;
    }

    .info :nth-child(1) {
        text-wrap: wrap;
    }

    .grid-left {
        width: 320px;
    }

    .buttons :nth-child(1) {
        font-size: 13px;
    }

    .buttons :nth-child(2) {
        font-size: 14px;
        font-weight: 700;
        padding: 8px 15px;
    }
}

@media (max-width: 990px) {

    /* Logo */
    .left svg {
        height: 30px;
        width: 30px;
    }

    /* center */
    /* .center {
        margin-left: 90px;
    } */

    .home {
        padding: 3.5px;
    }

    .home svg {
        height: 25px;
        width: 25px;
    }

    .search-logo svg {
        height: 26px;
        width: 26px;
    }

    /* .center-right {
        width: 20rem;
        padding: 2px 8px;
    } */

    /* .search-box input {
        height: 35px;
        width: 15rem;
        font-size: 13.5px;
    } */

    .navbar {
        width: 126vw;
    }

    #box-logo {
        height: 23px;
        width: 23px;
        margin-left: 7px;
    }

    .vertical-line {
        height: 20px;
    }

    /* right */
    .buttons :nth-child(1) {
        font-weight: 600;
        font-size: 13px;
    }

    .buttons :nth-child2(2) {
        font-weight: 700;
        font-size: 13px;
        padding: 7px 20px;
    }

    /* MAIN */
    .grid-right {
        background: linear-gradient(rgba(255, 255, 255, 0.185), rgba(27, 27, 27, 0.384));
        overflow-y: hidden;
        height: 100%;
        width: 97vw;
    }

    #particleCanvas {
        height: 100vh;
        width: 100vw;
    }

    .grid-right-container-content {
        /* display: grid; */
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .popular a {
        font-weight: 600;
        font-size: 18px;
    }

    .show-all a {
        font-weight: 500;
        font-size: 12px;
    }

    .content-box {
        height: 180px;
        width: 100px;
    }

    .content-box:hover {
        background: linear-gradient(-45deg, #1e57993f 0%, #325d81a8 50%, #207bca7a 63%, #7dbae873 100%);
    }

    .content-img img {
        height: 130px;
    }

    .content-title .content-name {
        font-size: 13px;
    }

    .content-title .content-work {
        font-size: 12px;
    }

    .play-btn svg {
        padding: 6px;
        height: 38px;
        width: 38px;
    }

    .controlerBox {
        padding: 5px 0px;
    }

    .songinfo {
        font-size: 18px;
    }

    .controls>img {
        height: 30px;
        margin: 5px 0px 5px 0px;
    }
}

/* tablet */

@media (max-width: 768px) {

    .upper-right {
        margin-bottom: 30px;
    }

    #cross {
        display: block !important;
        cursor: pointer;
    }

    .center {
        display: none;
    }

    .right {
        display: none;
    }

    .left svg {
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .navbar .left img {
        display: block;
    }


    #particleCanvas {
        display: none;
    }

    .grid-right {
        width: 96.5vw;
    }

    /* hamburger menu left */

    .grid-left {
        position: absolute;
        left: -100%;
        z-index: 100;
        height: 80.8%;
        transition: all 0.5s;
    }

    .grid-left.slider {
        position: absolute;
        left: 0;
        transition: all 0.5s;
    }

    .song-list {
        height: 35pc;
    }

    .library .your-library {
        font-size: 15px;
    }


    .info :nth-child(1) {
        font-size: 12px;
    }

    .info :nth-child(2) {
        font-size: 10px;
    }

    .controlerBox {
        width: 94.3%;
    }

    .library #plus {
        display: none;
    }
}

/* Mobile (L - Size) */
@media (max-width:425px) {

    #cross {
        display: block !important;
        cursor: pointer;
    }

    .upper-right {
        margin-bottom: 70px;
    }

    .grid-right {
        width: 95.5vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .grid-right-container-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        overflow-x: hidden;
    }

    .grid-left {
        width: 270px;
        height: calc(100vh - 345px) !important;
    }

    .song-list {
        height: calc(100vh - 425px);
    }

    .songinfo {
        gap: 6px;
    }

    .songinfo {
        position: absolute;
        font-size: 11px;
        left: 14px;
    }

    .songinfo img {
        width: 12px;
        height: 12px;
        display: none;
    }

    .controlerBox {
        width: calc(100vw - 55px);
    }
}

@media (max-width:394px) {

    #cross {
        display: block !important;
        cursor: pointer;
    }

    .grid-right-container-content {
        display: flex;
    }

    .grid-right {
        overflow: hidden !important;
        height: calc(100vh - 20px);
    }

    .controlerBox {
        box-shadow: 0 0 72px 12px #000000;
        position: absolute;
        bottom: -50px;
    }

    .songinfo {
        display: none !important;
    }

    .controlerBox {
        bottom: 8px;
        width: calc(100vw - 65px);
    }

    .upper-right {
        height: 30pc;
        overflow-y: scroll;
    }

    .grid-left {
        height: calc(100vh - 10px);
    }

    .song-list {
        height: calc(100vh - 150px);
    }
}