@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: white;
}

a,
a:visited,
a:hover {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    height: 65px;
    /* width: 100vw; */
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .left svg {
    cursor: pointer;
}

.navbar .left img {
    display: none;
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    align-items: center;
    margin-left: 150px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 65);
    border-radius: 100%;
    height: 32px;
    width: 32px;
    padding: 7px;
    cursor: pointer;
    transition: all 0.5s;
}


.home:hover {
    transform: scale(1.08);
}

.home svg {
    fill: rgb(180, 180, 180);
    transition: all 0.5s ease;
}

.home:hover svg {
    fill: #ffffff;
}


.center-right {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(34, 34, 34);
    width: 30rem;
    padding: 4px 10px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.center-right:hover {
    background-color: rgb(43, 43, 43);
    border: thin solid rgba(255, 255, 255, 0.486);
}

.center-right:hover .search-logo svg {
    fill: white !important;
}

.center-right.active {
    border: 2px solid rgb(255, 255, 255);
}

.center-right.active .search-logo svg {
    fill: rgb(255, 255, 255) !important;
}

.search-logo {
    display: flex;
    align-content: center;
}

.search-box input {
    height: 40px;
    width: 25rem;
    display: flex;
    align-items: center;
    background: transparent;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-size: 16px;
}

.vertical-line {
    height: 25px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.479);
}

.buttons :nth-child(1) {
    padding: 5px 10px;
    border-radius: 30px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.699);
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;

}

.buttons :nth-child(2) {
    font-weight: 700;
    font-size: 15px;
    padding: 13px 30px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons :nth-child(2):hover {
    transform: scale(1.05);
}


/* <<<<<=========================MAIN=========================>>>>>> */

.main-grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 10px;
    margin: 0px 10px 10px 10px;
}

.upper-right {
    overflow-y: scroll;
    /* height: auto; */
}


.grid-left,
.grid-right {
    border-radius: 8px;
    height: 38pc;
    background-color: #121212;
    position: relative;
    z-index: 20;
}

.library {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.library-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.library .your-library {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
    color: #ffffffb7;
    user-select: none;
    cursor: pointer;
}

.library-plus {
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.library #cross {
    display: none;
}

.library-plus:hover {
    background-color: rgba(255, 255, 255, 0.096);
}

.song-list {
    height: 32pc;
    width: auto;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.song-list ul {
    padding: 10px;
    width: auto;
    margin-right: 23px;
}


.song-list ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 13px;
    padding: 12px;
    background-color: rgb(48, 79, 87);
    border-radius: 8px;
    margin: 15px 0px 15px 0px;
    cursor: pointer;
    list-style: decimal;
    text-wrap: wrap;
    position: relative;
    transition: all 0.3s;
    width: 100%;
}

.song-list ul li:hover {
    background-color: rgb(48, 150, 175);
    transform: scale(1.01);
}

.playnow {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    gap: 8px;
    font-weight: 700;
}

.info :nth-child(1) {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
}

.info :nth-child(2) {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.637);
}

/*================================================Right container======================================== */

.grid-right {
    box-sizing: border-box;
    /* background: linear-gradient(rgba(255, 255, 255, 0.185), rgba(27, 27, 27, 0.384)); */
    background: linear-gradient(-45deg, #1e57993f 0%, #325d81a8 50%, #207bca7a 63%, #7dbae873 100%);
    padding: 20px;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.grid-right-container-heading {
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-right-container-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 15px;
}

.popular a {
    font-weight: 700;
    font-size: 20px;
}

.show-all a {
    font-size: 14px;
    font-weight: 600;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 132px;
    height: 215px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    transition: all 0.3s !important;
}

.content-box:hover {
    /* background-color: grey; */
    /* background: linear-gradient(rgba(0, 0, 0, 0) 0% , rgba(0, 0, 0, 0.212) 50%, rgba(0, 0, 0, 0) 100%); */
    background-color: #12121269;
    transform: translateY(-10px);
}

.play-btn svg {
    position: absolute;
    box-sizing: border-box;
    background: #1ed760;
    border-radius: 100%;
    bottom: 60px;
    right: 5px;
    padding: 10px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s;
}

.play-btn:hover svg {
    background: #e6902d;
    transform: scale(1.08);
}

.content-box:hover .play-btn svg {
    transform: translateY(0);
    opacity: 100%;
}

.content-img {
    height: 100%;
    width: 100%;
}

.content-img img {
    display: block;
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.content-title .content-name {
    padding: 0px 5px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-title .content-work {
    padding: 0px 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}



/* ==========================PLAY CONTROLS=========================== */


.controlerBox {
    display: flex;
    transform: translateY(100px);
    align-items: center;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2200px 50px rgba(0, 0, 0, 0.418);
    padding: 12px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    width: 96.3%;
    /* z-index: -1; */
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
}

.controls>img {
    cursor: pointer;
    line-height: 50px;
    transition: all 0.1s;
    user-select: none;
}

.controls img:hover {
    transform: scale(1.08);
}

.seekbar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    height: 4.5px;
    width: 98%;
    margin: auto;
    background-color: #02a39bb7;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 10;
}

.circle {
    position: relative;
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    left: 0;
    border-radius: 13px;
    /* transition: left 1s ease; */
    transition: all 0.1s ease;
    cursor: pointer;
}

.songinfo {
    cursor: pointer;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 40%;
    left: 40px;
    font-size: 25px;
    padding: 5px;
    white-space: nowrap;
    font-weight: 700;
    position: absolute;
    background: linear-gradient(-45deg, rgba(0, 104, 85, 0.685) 0%, rgba(172, 2, 172, 0.694)100%);
    border-radius: 8px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    transition: transform 0.3s ease;
    user-select: none;
}

.songinfo:hover {
    transform: scale(1.04);
    box-shadow: 0 0 10px rgba(255, 192, 203, 0.486);
}

.songtime {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 15px;
    font-style: italic;
    font-family: "Bebas Neue", sans-serif;
    user-select: none;
}



/* =========== [ canvas particles ] ===============*/

#particleCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}