@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.flex {
    display: flex;
}

.jc {
    display: flex;
    justify-content: center;
}

.ai {
    display: flex;
    align-items: center;
}

.jcsb {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.479);
}

.mb {
    margin-top: 5pc;
}